body, html{
	height: 100%;
	margin: 0;
}

.navbar{
	padding: 0.3em 2em;
}

.navbar-logo{
	width: 75px;
}

.navbar-header{
	font-size: 1.4em;
	font-weight: 400;
}

.primary-header{
	height: 100vh;
	margin-top: 4em;
	width: 100%;
	text-align: center;
}

.primary-header .primary-greeting{
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 1px;
}

.primary-header .primary-intro{
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
}

.primary-header .primary-image{
	width: 260px;
	height: 260px;
	border-radius: 130px;
	-moz-border-radius: 130px;
	-webkit-border-radius: 130px;
	margin: 0 auto;
	margin-top: 4em;
	border: 10px solid #55595c;
	background-image: url('../images/primary.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.visibility-hidden{
	visibility: hidden;
}

.parallax-image{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.about{
	background-image: url('../images/negative-space.jpg');
}

.about-content{
	margin-top: 7em;
	position: absolute;
	background-color: #fff;
	padding: 20px;
}

.about-header{
	font-size: 26px;
	color: #000;
	font-weight: 600;
}

.about-description{
	font-size: 20px;
}

.section{
	text-align: center;
	padding: 50px 80px;
}

.section-light{
	background-color: #f4f4f4;
	color: #666;
}

#experience{
	position: relative;
}

#experience-content{
	width: 100%;
	position: absolute;
	margin-top: 10em;
}

#experience-content .card{
	margin: 0 auto;
}

#experience .experience-title{
	letter-spacing: 20px;
	margin-bottom: 80px;
}

#experience .card-header{
	font-size: 20px;
	font-weight: 600;
}

.row{
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.card-body ul li{
	margin-bottom: 7px;
}

.exp-logo{
	width: 100px;
	display: inline-block;
}

.company{
	display: inline-block;
}